
{% load i18n %}
{% load account %}
{% include 'base.html' %}
{% block content %}
  


    <form  class="form-signin"  method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
         <h1>{% trans "Password Reset" %}</h1>


    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button-login" type="submit">{% trans 'Reset My Password' %}</button>
    </form>

{% endblock %}
