{% load i18n %}
{% load account %}
{% load static %}
<!-- added  -->
{% block common_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %} 

<!-- end here -->
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/loginform.css' %}" />
   

    

    <form class="form-signin"  method="POST" action="{% url 'account_set_password' %}" class="password_set">
    	<h1>{% trans "Set Password" %}</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button button2" type="submit">{% trans 'Set Password' %}</button>
    </form>
{% endblock %}
