
{% load i18n %}
{% load account %}
{% load static %}
<!-- added  -->
{% block common_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %} 

<!-- end here -->
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/loginform.css' %}" />
   


    <form  class="form-signin"  method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
         <h1>{% trans "Password Reset" %}</h1>


    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button button2" type="submit">{% trans 'Reset My Password' %}</button>
    </form>

{% endblock %}
