

{% load i18n %}
{% load static %}



<!-- added  -->
{% block common_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %} 

<!-- end here -->
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/loginform.css' %}" />


<form  class="form-signin" id="signup_form" method="post" action="{% url 'account_signup' %}">
  
<center><h1>{% trans "Sign Up" %}</h1></center>


  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="button button2" type="submit">{% trans "Sign Up" %} &raquo;</button><a class="button button2" href="{{ login_url }}">sign in</a>
</form>

{% endblock %}
