
<a href="{% url 'account_logout' %}">logout</a>
<center>
<h1>   
 <br> <br><a href="{% url 'createemployee' %}"> Create Employee </a>


</h1>
<table border="1" width="80%">
<tr>
	<th>User ID </th>
    <th>Username </th>
    <th>EmailID</th>
    <th>Role</th>
</tr>
{% for user in users  %}
  {% if user.role == "employee" %}
  <tr>   
      <td>{{user.id}}</td>  
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
  </tr>
  {% endif %}
{% endfor %}
</table>
</center>

