<a href="{% url 'account_logout' %}">logout</a><a href="{% url 'home' %}">Home </a>
<center>
<h1>   
 <br> <br><a href="{% url 'createtask' projectid=projectid managerid=managerid %}"> Create Task</a>
 <br>For Project ID : {{projectid}}
</h1>
<table  width="80%">
<tr bgcolor="#ffff80">
<th>Projet ID </th>
<th>Title </th>
<th>Description</th>
<th>Start Date</th>
<th>End Date</th>
<th>Employee ID</th>
</tr>
{% for task in tasks  %}
  
 <tr bgcolor="#ffcccc"> 
  <td>{{projectid}}</td>
  <td>{{task.title}}</td>
  <td>{{task.discription}}</td>
  <td>{{task.startdate}}</td>
  <td>{{task.enddate}}</td>
  <td>{{task.employee_id}}</td>
  </tr>
  
{% endfor %}
</table>
</center>
