
body {
  /*background-image:url('{{ STATIC_URL }}images/bgimage.jpeg');*/
	background: #232627 !important;	
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}
h1 {
	color : #0088BA;
}
a {
  color: black;
}
a:hover {
  color: blue;
}

.logout {
 text-align:right;
 float:right;
}
textarea {
    width: 100%;
    height: 80px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.table-block {
  max-width: 90%;
  padding: 15px 35px 45px ;
  margin: 100 auto;
  background-color: #fff;
  border: 5px solid #008CBA;  
  }
.popup {
  max-width: 90%;
  padding: 15px 35px 45px ;
  margin: 100 auto;
  background-color: #fff;
  border: 5px solid #008CBA;  
  margin-bottom: 30px;
  }

input[type=text], input[type=email] ,input[type=date] ,input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select.stylesheet {
  width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select.dropdown {
  width: 5%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
a.buttonlink:link, a.buttonlink:visited {
    background-color: white;
    color: black;
    border: 2px solid 0088BA ;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.buttonlink:hover, a.buttonlink:active {
    background-color: #0088BA;
    color: white;
}
a.calendar-link:link, a.calendar-link:visited {
    background-color: white;
    color: black;
    border: 2px solid 0088BA ;
    border-radius: 30px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.calendar-link:hover, a.calendar-link:active {
    background-color: #0088BA;
    color: white;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.popupbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
     border-radius: 20px;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px ;
  margin: 100 auto;
  background-color: #fff;
  border: 5px solid #008CBA;  

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

  

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
