{% include 'base.html' %}
{% block content %}
<center>

<h1> <b><span class="label label-primary">Time Sheet for Employee ID {{employeeid}}</span></b> </h1>

<form action="{% url 'clienttimesheet' employeeid=employeeid project_id=project.id client_id=client_id month=month year=year %}" method="get">
 <table>
  <th>
  <select  name="employee_id" class="form-control" id="employee_id"> 
      {% for employee in employees %}
            <option value="{{employee}}">{{employee}}</option>
      {% endfor %}
          </select>
  </th>
  <th>
  <button class="btn btn-primary btn-md" type="submit"> Change </button>
  </th>         
</table>
</form>
<br>
<table  width="20%">
  <tr>
    <th> 
      <a  class="calendar-link" href="{% url 'clienttimesheet' employeeid=employeeid project_id=project.id client_id=client_id month=month year=previousyear %}"><b>  << </b></a> 
      <a  class="calendar-link" href="{% url 'clienttimesheet' employeeid=employeeid project_id=project.id client_id=client_id month=previousmonth year=year %}"><b>  < </b></a> </th> 
    <th> <font color="green" ><b> {{monthname}} {{year}}  </b> </font> </th>
    <th > 
      <a class="calendar-link" href="{% url 'clienttimesheet' employeeid=employeeid project_id=project.id client_id=client_id month=nextmonth year=year %}"> <b> > </b> </a>
      <a class="calendar-link" href="{% url 'clienttimesheet' employeeid=employeeid project_id=project.id client_id=client_id month=month year=nextyear %}"> <b> >> </b> </a> <br> </th>
  </tr>
  
</table>
<br>

</script>
<table width="90%"  border="1"  class="table-bordered">
<tr bgcolor=" #0088BA">
<th width="13%"><center> MONDAY</th><th width="13%"><center>TUESDAY</th><th width="13%"><center>WEDNESDAY</th><th width="13%"><center>THURSDAY</th> <th width="13%"><center>FRIDAY</th> <th width="13%"><center>SATURDAY</th> <th width="13%"><center>SUNDAY</th>
</center>
</tr>
{% for i in  days %}
    {% if forloop.counter == 0 or forloop.counter == 8 %}
     <tr >
    {% endif %}
       

          <td height="80px" bgcolor="#F5F5F5" class="td{{i}}">
         
             {% if i != 0  %} 
               {{i}}
               <br>
                 {% for timesheet in timesheets %}
                
                  {% if timesheet.day == i and timesheet.status == "aprove" %}
                   <font color="blue" >Task  : </font> {{timesheet.taskname}}<br>
                   <font color="blue" >Time: </font>{{timesheet.spendtime}} Hr<br>
                   
                   {% if timesheet.payment == 0 %}
                   {% if timesheet.status == "aprove" %}
                    <script type="text/javascript">
                       $(".td{{i}}").attr("bgcolor","#C2F26E"); 
                       console.log("grreen")
                     </script>
                    {% endif %}
                    
                   {% else %}
                     
                     <script type="text/javascript">
                       $(".td{{i}}").attr("bgcolor","#8AE6D1"); 
                       console.log("grreen")
                     </script>
                   {% endif %}

                   {% if project.payment_type == "Daliy" and timesheet.payment == 0 %}
                    <a class="button button2" href="{% url 'clientpayment' employee_id=employeeid project_id=project.id client_id=client_id day=i month=month year=year period=1 %}" >Pay </a> 
                  {% elif project.payment_type == "Daliy" %}
                  <b> Paid $ {{timesheet.payment}} </b>
                    {% endif %}

                    {% if project.payment_type == "Weekly" and timesheet.payment == 0 %}
                       {% if i == 7 or i == 14  or i == 21 or i == 28 %}
                      <a class="button button2" href="{% url 'clientpayment' employee_id=employeeid project_id=project.id client_id=client_id day=i month=month year=year period=2 %}" >Pay </a> 
                       {% endif %}
                    {% elif project.payment_type == "Weekly" %}
                      <b> Paid $ {{timesheet.payment}} </b>
                   {% endif %}
                  
                     {% if project.payment_type == "Monthly" and timesheet.payment == 0 %}
                       {% if i == 1 %}
                      <a class="button button2" href="{% url 'clientpayment' employee_id=employeeid project_id=project.id client_id=client_id day=i month=month year=year period=2 %}" >Pay </a> 
                       {% endif %}
                    {% elif project.payment_type == "Monthly" %}
                      <b> Paid $ {{timesheet.payment}} </b>
                   {% endif %}

                  {% endif %}
                
                 {% endfor %}  
              
           {% endif %} 
         </td>
    {% if forloop.counter == 7 or forloop.counter == 14  or forloop.counter == 21 or forloop.counter == 28 or forloop.counter == 35 %}
     </tr>
    {% endif %}
 {% endfor %}

</table>
</center>

{% endblock %}

