{% extends 'base.html' %}
{% block content %}
<center>

<script type="text/javascript">
 $(document).on("click", ".popupbutton", function () {

     var myBookId = $(this).data('id');
    
     $("#day").val( myBookId );
     var myBookId1 = $(this).data('id1');
    
     $("#period").val( myBookId1 );
   
});
</script>
<h1> <font color="#0088BA">Time Sheet for Employee ID {{employeeid}}</font> </h1>

<form action="{% url 'managertimesheet' employeeid=1 project_id=project.id manager_id=manager_id month=month year=year %}" method="get">
 <font color="#0088BA"> Emp ID :</font><select class="dropdown" name="employee_id" id="employee_id"> 
      {% for employee in employees %}
            <option>{{employee}}</option>
      {% endfor %}
          </select>
 <button class="button" type="submit"> Change </button>         
</form>
<table  width="20%">
  <tr>
    <th> 
      <a  class="calendar-link" href="{% url 'managertimesheet' employeeid=employeeid project_id=project.id manager_id=manager_id month=previousmonth year=year %}"><b>  < </b></a> </th> 
    <th> <font color="green" ><b> {{monthname}}  </b> </font> </th>
    <th > 
      <a class="calendar-link" href="{% url 'managertimesheet' employeeid=employeeid project_id=project.id manager_id=manager_id month=nextmonth year=year %}"> <b> > </b> </a> <br> </th>
  </tr>
  <tr>
    <th > 
      <a  class="calendar-link" href="{% url 'managertimesheet' employeeid=employeeid project_id=project.id manager_id=manager_id month=month year=previousyear %}"><b>  < </b></a> </th> 
    <th> <font color="green" ><b> {{year}}  </b> </font> </th>
    <th > 
      <a class="calendar-link" href="{% url 'managertimesheet' employeeid=employeeid project_id=project.id manager_id=manager_id month=month year=nextyear %}"> <b> > </b> </a> <br> </th>
  </tr>
</table>
<br>

</script>
{{project.payment_type}}
<table width="90%"  border="1">
<tr bgcolor=" #0088BA">
<th>MONDAY</th><th>TUESDAY</th><th>WEDNESDAY</th> <th>THURSDAY</th> <th>FRIDAY</th> <th>SATURDAY</th> <th>SUNDAY</th>
</tr>
{% for i in  days %}
    {% if forloop.counter == 1 or forloop.counter == 8 or forloop.counter == 15  or forloop.counter == 22 or forloop.counter == 29 %}

     <tr >

    {% endif %}
      

          <td height="80px" bgcolor="#F5F5F5">
             
             {% if i != 0  %} 
               {{i}}
               <br>
                 {% for timesheet in timesheets %}
                  {% if timesheet.day == i %}
                   <font color="blue" >Task  : </font> {{timesheet.taskname}}<br>
                   <font color="blue" >Time: </font>{{timesheet.spendtime}} Hr<br>
                   {% if timesheet.payment == 0 %}
                     <b> Payment Pending </b>
                   {% else %}
                     <b> Paid &#8377; {{timesheet.payment}} </b>
                   {% endif %}
                   <br>
                    {% if project.payment_type == "Daliy" and timesheet.status == "submit" %}
                    <a class="button" href="{% url 'timesheetmanageraction' employee_id=employeeid project_id=project.id manager_id=manager_id day=i month=month year=year period=1 %}" >Aprove </a> 
                    <button data-id="{{i}}" data-id1="1" class="popupbutton" data-toggle="modal" data-target="#myModal" >Reject</button><br>
                    {% endif %}

                    {% if project.payment_type == "Weekly" and timesheet.status == "submit"  %}
                       {% if i == 7 or i == 14  or i == 21 or i == 28 %}
                      <a class="button" href="{% url 'timesheetmanageraction' employee_id=employeeid project_id=project.id manager_id=manager_id day=i month=month year=year period=2 %}" >Aprove </a> 
                      <button data-id="{{i}}" data-id1="2" class="popupbutton" data-toggle="modal" data-target="#myModal" >Reject</button><br>
                      {% endif %}
                   {% endif %}

                   {% if project.payment_type == "Monthly" and i == 1 and timesheet.status == "submit"   %}
                    <a class="button" href="{% url 'timesheetmanageraction' employee_id=employeeid project_id=project.id manager_id=manager_id day=i month=month year=year period=3 %}" >Aprove </a> 
                    <button data-id="{{i}}" data-id1="3" class="popupbutton" data-toggle="modal" data-target="#myModal" >Reject</button><br>
                   {% endif %} 

                  {% endif %}
                 {% endfor %}  
               {% endif %} 

                    
                  
                  
                 
                 
         </td>
    {% if forloop.counter == 7 or forloop.counter == 14  or forloop.counter == 21 or forloop.counter == 28 or forloop.counter == 35 %}
     </tr>
    {% endif %}
 {% endfor %}

</table>
</center>



  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
            <div class="modal-body"> 

<div class="table-block" >

<form  action="{% url 'timesheetmanageraction' employee_id=employeeid project_id=project.id manager_id=manager_id day='1' month=month year=year period=0  %}" method="post">

{% csrf_token %}
Reason For Rejection
<input type ="text" name="comment" />
<input type="hidden" name="day" id="day" />
<input type="hidden" name="period" id="period" />
<br>
<button class="button button2" type="submit" >Update </button>
<button type="button" class="button button2" data-dismiss="modal"> Close </button>
</form>
</div>


    </div>
  </div>
</div>
{% endblock %}