{% include 'base.html' %}
{% if user.email %}
{% block content %}
<center>

<script type="text/javascript">
 $(document).on("click", "#popupbutton", function () {

     var myBookId = $(this).data('id');
    
     $("#day").val( myBookId );
     var myBookId1 = $(this).data('id1');
    
     $("#period").val( myBookId1 );
   
});
</script>
<table>
  <th>
<h1><b> <span class="button" >Time Sheet for EmployeeID </span> </b></h1>
 </th>
 <th>
<form action="{% url 'managertimesheet' employeeid=1 project_id=project.id manager_id=manager_id month=month year=year %}" method="get">
<table>
  <th>
<select class="form-control" name="employee_id" id="employee_id"> 
             <option value="1">Select ID</option>
      {% for employee in employees %}
            <option value="{{employee}}">{{employee}}</option>
      {% endfor %}
          </select>
  </th>
  <th>
 <button class="button" type="submit"> Change </button>    
 </th>     
</table>
</form>
</th>
</table>
<table  width="20%">
  <tr>
    <th> 
       <a  class="calendar-link" href="{% url 'managertimesheet' employeeid=employeeid project_id=project.id manager_id=manager_id month=month year=previousyear %}"><b>  << </b></a>
      <a  class="calendar-link" href="{% url 'managertimesheet' employeeid=employeeid project_id=project.id manager_id=manager_id month=previousmonth year=year %}"><b>  < </b></a> </th> 
    <th> <font color="green" ><b> {{monthname}} {{year}}   </b> </font> </th>
    <th > 
      <a class="calendar-link" href="{% url 'managertimesheet' employeeid=employeeid project_id=project.id manager_id=manager_id month=nextmonth year=year %}"> <b> > </b> </a>
      <a class="calendar-link" href="{% url 'managertimesheet' employeeid=employeeid project_id=project.id manager_id=manager_id month=month year=nextyear %}"> <b> >> </b> </a> <br> </th>
  </tr>
  
</table>
<br>


<table width="90%"  border="1" class="table-bordered">
<tr bgcolor=" #0088BA">
<th width="13%"><center> MONDAY</th><th width="13%"><center>TUESDAY</th><th width="13%"><center>WEDNESDAY</th><th width="13%"><center>THURSDAY</th> <th width="13%"><center>FRIDAY</th> <th width="13%"><center>SATURDAY</th> <th width="13%"><center>SUNDAY</th>
</center>
</tr>
{% for i in  days %}
    {% if forloop.counter == 1 or forloop.counter == 8 or forloop.counter == 15  or forloop.counter == 22 or forloop.counter == 29 %}

     <tr >

    {% endif %}
      

          <td height="80px" bgcolor="#F5F5F5" class="td{{i}}">
             
             {% if i != 0  %} 
               {{i}}
               <br>
                 {% for timesheet in timesheets %}
                  {% if timesheet.day == i and timesheet.status != "pending"%}
                   <font color="blue" >Task  : </font> {{timesheet.taskname}}<br>
                   <font color="blue" >Time: </font>{{timesheet.spendtime}} Hr<br>
                  <!--  {{timesheet.status}} -->
                   {% if timesheet.payment == 0 %}
                    {% if timesheet.status == "aprove" %}
                     <b> Payment Pending</b>
                     <script type="text/javascript">
                       $(".td{{i}}").attr("bgcolor","#C2F26E"); 
                       console.log("grreen")
                     </script>
                    {% endif %}
                    {% if timesheet.status == "rejected" %}
                     
                     <script type="text/javascript">
                       $(".td{{i}}").attr("bgcolor","#FF9999"); 
                       console.log("grreen")
                     </script>
                    {% endif %}
                   {% else %}
                     <b> Paid $ {{timesheet.payment}} </b>
                     <script type="text/javascript">
                       $(".td{{i}}").attr("bgcolor","#FFE857"); 
                       console.log("grreen")
                     </script>
                   {% endif %}
                   <br>
                    {% if project.payment_type == "Daliy" and timesheet.status == "submit" %}
                    <a class="buttonaprove  " href="{% url 'timesheetmanageraction' employee_id=employeeid project_id=project.id manager_id=manager_id day=i month=month year=year period=1 %}" >Aprove </a> 
                    <button data-id="{{i}}" data-id1="1" id="popupbutton" data-toggle="modal" data-target="#myModal" class="buttonreject ">Reject</button><br>
                    {% endif %}

                    {% if project.payment_type == "Weekly" and timesheet.status == "submit"  %}
                       {% if i == 7 or i == 14  or i == 21 or i == 28 %}
                      <a class="buttonaprove " href="{% url 'timesheetmanageraction' employee_id=employeeid project_id=project.id manager_id=manager_id day=i month=month year=year period=2 %}" >Aprove </a> 
                      <button class="buttonreject " data-id="{{i}}" data-id1="2" id="popupbutton" data-toggle="modal" data-target="#myModal" >Reject</button><br>
                      {% endif %}
                   {% endif %}

                   {% if project.payment_type == "Monthly" and i == 1 and timesheet.status == "submit"   %}
                    <a class="buttonaprove " href="{% url 'timesheetmanageraction' employee_id=employeeid project_id=project.id manager_id=manager_id day=i month=month year=year period=3 %}" >Aprove </a> 
                    <button  data-id="{{i}}" data-id1="3" id="popupbutton" data-toggle="modal" data-target="#myModal" class="buttonreject ">Reject</button><br>
                   {% endif %} 

                  {% endif %}
                 {% endfor %}  
               {% endif %} 

                    
                  
                  
                 
                 
         </td>
    {% if forloop.counter == 7 or forloop.counter == 14  or forloop.counter == 21 or forloop.counter == 28 or forloop.counter == 35 %}
     </tr>
    {% endif %}
 {% endfor %}

</table>
</center>



  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
            <div class="modal-body"> 


<form class="form-signin" action="{% url 'timesheetmanageraction' employee_id=employeeid project_id=project.id manager_id=manager_id day='1' month=month year=year period=0  %}" method="post">

{% csrf_token %}
<h1><b>Reason for Rejection</h1>
<input type ="text" name="comment"  />
<input type="hidden" name="day" id="day" />
<input type="hidden" name="period" id="period" />
<br>
<button class="button button2" type="submit" >Update </button>
<button type="button" class="button button2" data-dismiss="modal"> Close </button>
</form>

</b>
    </div>
  </div>
</div>
{% endblock %}
{% endif %}