{% include 'base.html' %}
<!-- <script type="text/javascript">
 $(document).on("click", ".popupbutton", function () {
     var myBookId = $(this).data('id');
      $("#day").val( myBookId );
});
</script> -->
{% block content %}
<center>
<h1> <b><span class="label label-primary">Time Sheet</span> </b>  </h1>
<table  width="20%">
  <tr>
    <th> 
      <a  class="calendar-link" href="{% url 'timesheet' employee_id=employee_id project_id=project.id month=month year=previousyear %}"><b>  << </b></a> </th>
    <th>
      <a class="calendar-link" href="{% url 'timesheet' employee_id=employee_id project_id=project.id month=previousmonth year=year %}"><b>  < </b></a> </th> 
    <th><font color="green" ><b> {{monthname}} {{year}}</b> </font> </th>
    <th > 
      <a class="calendar-link" href="{% url 'timesheet' employee_id=employee_id project_id=project.id month=nextmonth year=year %}"> <b> > </b> </a> </th>
    <th>
      <a class="calendar-link" href="{% url 'timesheet' employee_id=employee_id project_id=project.id month=month year=nextyear %}"> <b> >> </b> </a> <br> </th>
  </tr>
  
</table>
<br>
<!-- class="table-bordered" -->
<table width="90%"  border="1" class="table-bordered" >
<tr bgcolor=" #0088BA" >

<th width="13%"><center> MONDAY</th><th width="13%"><center>TUESDAY</th><th width="13%"><center>WEDNESDAY</th><th width="13%"><center>THURSDAY</th> <th width="13%"><center>FRIDAY</th> <th width="13%"><center>SATURDAY</th> <th width="13%"><center>SUNDAY</th>
</center>
</tr>

{% for i in  days %}
    {% if forloop.counter == 0 or forloop.counter == 8 %}
     <tr >
    {% endif %}
       
     <td height="80px" bgcolor="#F5F5F5" class="td{{i}}" >
      <center>     
           {% if i != 0  %} 
               {% if i in daylist %}

                 {% if startmonth == endmonth %}
                  {% if i >= startday and i <= endday %}
                  <button type="button" url="{% url 'timesheetform' employee_id=employee_id project_id=project.id day=i month=month year=year %}" class="popupbutton" ><b>{{i}}</b></button><br>
                  {% else %}
                  <b> {{i}} </b>
                  {% endif %}
                

                 {% elif startmonth < endmonth %}
                  {% if month == startmonth and i >= startday %}
                  <button type="button" url="{% url 'timesheetform' employee_id=employee_id project_id=project.id day=i month=month year=year %}" class="popupbutton" ><b>{{i}}</b></button><br>
                  {% elif month == endmonth and i <= endday  %}
                  <button type="button" url="{% url 'timesheetform' employee_id=employee_id project_id=project.id day=i month=month year=year %}" class="popupbutton" ><b>{{i}}</b></button><br>
                  {% elif  month > startmonth and month < endmonth %}
                  <button type="button" url="{% url 'timesheetform' employee_id=employee_id project_id=project.id day=i month=month year=year %}" class="popupbutton" ><b>{{i}}</b></button><br>
                  {% else %}
                  <b> {{i}} </b>
                  {% endif %}


                 {% elif startmonth != 0 and enddmonth == 0 %}
                  {% if i >= startday and startmonth == month %}
                  <button type="button" data-id="{{i}}" class="popupbutton" data-toggle="modal" data-target="#myModal"><b>{{i}}</b></button><br>
                  {% else %}
                  <b> {{i}} </b>
                  {% endif %}

                 {% endif %}

                 {% for timesheet in timesheets %}

                  {% if timesheet.day == i %}
                   <font color="blue" >Task  : </font> {{timesheet.taskname}}<br>
                   <font color="blue" >Time: </font>{{timesheet.spendtime}} Hr<br>
                   <!-- <b>{{timesheet.status}}</b><br> -->
                   {% if timesheet.payment == 0 %}
                   {% if timesheet.status == "aprove" %}
                     <script type="text/javascript">
                       $(".td{{i}}").attr("bgcolor","#C2F26E"); 
                       console.log("grreen")
                     </script>
                    {% endif %}
                    {% if timesheet.status == "rejected" %}
                     <script type="text/javascript">
                       $(".td{{i}}").attr("bgcolor","#FF9999"); 
                       console.log("grreen")
                     </script>
                    {% endif %}
                   {% else %}
                      <script type="text/javascript">
                       $(".td{{i}}").attr("bgcolor","#C2F26E"); 
                       console.log("grreen")
                     </script>
                   {% endif %}
                                       
                    {% if project.payment_type == "Daliy" %}
                       {% if timesheet.status == "pending" %}
                       <a class="buttontimesheet button2" href="{% url 'timesheetaction' employee_id=employee_id project_id=project.id day=i month=month year=year  period=1 %}" >Submit </a> <br>
                       {% endif %}
                       {% if timesheet.status == "rejected" %}
                        <a class="buttontimesheet button2" href="{% url 'timesheetaction' employee_id=employee_id project_id=project.id day=i month=month year=year  period=1 %}" >Re-Submit </a> <br>
                      {% endif %}
                    {% endif %} 
                                      
                    
                    {% if project.payment_type == "Weekly"  %}
                      {% if i == 7 or i == 14  or i == 21 or i == 28 %}
                       {% if timesheet.status == "pending" %}
                      <a class="buttontimesheet button2" href="{% url 'timesheetaction' employee_id=employee_id project_id=project.id day=i month=month year=year  period=2  %}" >Submit </a> <br>
                        {% endif %}
                      
                      {% if timesheet.status == "rejected" %}
                        <a class="buttontimesheet button2" href="{% url 'timesheetaction' employee_id=employee_id project_id=project.id day=i month=month year=year  period=2  %}" >Re-Submit </a> <br>
                      {% endif %}
                     {% endif %} 
                   {% endif %}
                  
                  

                 {% if project.payment_type == "Monthly" and i == 1 %}
                   {% if timesheet.status == "pending" %}
                    <a class="buttontimesheet button2" href="{% url 'timesheetaction' employee_id=employee_id project_id=project.id day=i month=month year=year  period=3 %}" >Submit </a> <br>
                      {% endif %}
                      {% if timesheet.status == "rejected" %}
                      <a class="buttontimesheet button2" href="{% url 'timesheetaction' employee_id=employee_id project_id=project.id day=i month=month year=year  period=3 %}" >Re-Submit </a> <br>
                    {% endif %}
                   {% endif %} 
                  {% endif %}
                 {% endfor %}  
              {% endif %}

              {% if i not in daylist %}
              <b>{{i}}</b>
               <br>
                 {% for timesheet in timesheets %}
                  {% if timesheet.day == i %}
                   <font color="blue" >Task  : </font> {{timesheet.taskname}}<br>
                   <font color="blue" >Time: </font>{{timesheet.spendtime}} Hr<br>
                   
                  <!--  <b>{{timesheet.status}}</b><br>
                    -->
                    {% if timesheet.payment == 0 %}
                    {% if timesheet.status == "aprove" %}
                     <b> Payment Pending</b>
                     <script type="text/javascript">
                       $(".td{{i}}").attr("bgcolor","#C2F26E"); 
                       console.log("grreen")
                     </script>
                    {% endif %}
                    {% if timesheet.status == "rejected" %}
                     
                     <script type="text/javascript">
                       $(".td{{i}}").attr("bgcolor","#FF9999"); 
                       console.log("grreen")
                     </script>
                    {% endif %}
                   {% else %}
                     <b> Paid $ {{timesheet.payment}} </b>
                     <script type="text/javascript">
                       $(".td{{i}}").attr("bgcolor","#8AE6D1"); 
                       console.log("grreen")
                     </script>
                   {% endif %}
                    
                    {% if project.payment_type == "Daliy" %}
                       {% if timesheet.status == "pending" %}
                       <a class="buttontimesheet button2" href="{% url 'timesheetaction' employee_id=employee_id project_id=project.id day=i month=month year=year  period=1 %}" >Submit </a> <br>
                       {% endif %}
                       {% if timesheet.status == "rejected" %}
                        <a class="buttontimesheet button2" href="{% url 'timesheetaction' employee_id=employee_id project_id=project.id day=i month=month year=year  period=1 %}" >Re-Submit </a> <br>
                      {% endif %}
                    {% endif %} 
                                      
                    
                    {% if project.payment_type == "Weekly"  %}
                      {% if i == 7 or i == 14  or i == 21 or i == 28 %}
                       {% if timesheet.status == "pending" %}
                      <a class="buttontimesheet button2" href="{% url 'timesheetaction' employee_id=employee_id project_id=project.id day=i month=month year=year  period=2  %}" >Submit </a> <br>
                        {% endif %}
                      
                      {% if timesheet.status == "rejected" %}
                        <a class="buttontimesheet button2" href="{% url 'timesheetaction' employee_id=employee_id project_id=project.id day=i month=month year=year  period=2  %}" >Re-Submit </a> <br>
                      {% endif %}
                     {% endif %} 
                   {% endif %}
                  
                {% if project.payment_type == "Monthly" and i == 1 %}
                   {% if timesheet.status == "pending" %}
                    <a class="buttontimesheet button2" href="{% url 'timesheetaction' employee_id=employee_id project_id=project.id day=i month=month year=year  period=3 %}" >Submit </a> <br>
                      {% endif %}
                      {% if timesheet.status == "rejected" %}
                      <a class="buttontimesheet button2" href="{% url 'timesheetaction' employee_id=employee_id project_id=project.id day=i month=month year=year  period=3 %}" >Re-Submit </a> <br>
                    {% endif %}
                   {% endif %} 
                  {% endif %}
                 {% endfor %}  
              {% endif %}
           {% endif %}
           </center> 
         </td>
    {% if forloop.counter == 7 or forloop.counter == 14  or forloop.counter == 21 or forloop.counter == 28 or forloop.counter == 35 %}
     </tr>
    {% endif %}
 {% endfor %}

</table>
<br><br>
</center>





{% endblock %}

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-body" id="modalbody">
 
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
       

   $('.popupbutton').on('click', function(event){
      event.preventDefault();
      $.ajax({
        method: "GET",
        url: $(this).attr("url"),
        data: {},
        dataType: 'html',
        success: function (data) {
                console.log("hii")
                $("#modalbody").html(data); 
                $('#myModal').modal('show');
              }
        });
      });

   
});
</script>