{% load static %}
<br>
<div class="logout">
    
  <a class="buttonlink" href="{% url 'account_logout' %}">logout</a>
  <a class="buttonlink" href="{% url 'home' %}">Home </a>

 </div> 
<br>
 <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/loginform.css' %}" />

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
<center>



<h1> <font color="#0088BA">Time Sheet </font> <br> </h1>
<!-- <h2>{{project.title}}   </h2> -->



<table  width="20%">
  <tr>
    <th> 
      <a class="calendar-link" href="{% url 'timesheet' employee_id=employee_id project_id=project.id month=previousmonth year=year %}"><b>  < </b></a> </th> 
    <th> <font color="green" ><b> {{monthname}}  </b> </font> </th>
    <th > 
      <a class="calendar-link" href="{% url 'timesheet' employee_id=employee_id project_id=project.id month=nextmonth year=year %}"> <b> > </b> </a> <br> </th>
  </tr>
  <tr>
    <th > 
      <a  class="calendar-link" href="{% url 'timesheet' employee_id=employee_id project_id=project.id month=month year=previousyear %}"><b>  < </b></a> </th> 
    <th> <font color="green" ><b> {{year}}  </b> </font> </th>
    <th > 
      <a class="calendar-link" href="{% url 'timesheet' employee_id=employee_id project_id=project.id month=month year=nextyear %}"> <b> > </b> </a> <br> </th>
  </tr>
</table>
<br>
<script type="text/javascript">
 $(document).on("click", ".popupbutton", function () {
     var myBookId = $(this).data('id');
     $("#day").val( myBookId );
    // $('#addBookDialog').modal('show');
});
 

</script>
{{project.payment_type}}
<table width="90%"  border="1">
<tr bgcolor=" #0088BA">
<th>MONDAY</th><th>TUESDAY</th><th>WEDNESDAY</th> <th>THURSDAY</th> <th>FRIDAY</th> <th>SATURDAY</th> <th>SUNDAY</th>
</tr>
{% for i in  days %}
    {% if forloop.counter == 0 or forloop.counter == 8 %}
     <tr >
    {% endif %}
       
     <td height="80px" bgcolor="white">
           
           {% if i != 0  %} 
               {% if i in daylist %}
                 
                  <button type="button" data-id="{{i}}" class="popupbutton" data-toggle="modal" data-target="#myModal">{{i}}</button><br>                 
                 {% for timesheet in timesheets %}

                  {% if timesheet.day == i %}
                   <font color="blue" >Task  : </font> {{timesheet.taskname}}<br>
                   <font color="blue" >Time: </font>{{timesheet.spendtime}} Hr<br>
                   <b>{{timesheet.status}}</b><br>
                   
                                       
                    {% if project.payment_type == "Daliy" %}
                       {% if timesheet.status == "pending" or timesheet.status == "rejected" %}
                        <a class="button button2" href="{% url 'timesheetaction' employee_id=employee_id project_id=project.id day=i month=month year=year  period=1 %}" >Submit </a> <br>
                      {% endif %}
                    {% endif %} 
                                      
                    
                    {% if project.payment_type == "Weekly"  %}
                      {% if timesheet.status == "pending" or timesheet.status == "rejected" %}
                       {% if i == 7 or i == 14  or i == 21 or i == 28 %}
                      <a class="button button2" href="{% url 'timesheetaction' employee_id=employee_id project_id=project.id day=i month=month year=year  period=2  %}" >Submit </a> <br>
                      {% endif %}
                     {% endif %} 
                   {% endif %}
                  
                  

                 {% if project.payment_type == "Monthly" and i == 1 %}
                   {% if timesheet.status == "pending" or timesheet.status == "rejected" %}
                    <a class="button button2" href="{% url 'timesheetaction' employee_id=employee_id project_id=project.id day=i month=month year=year  period=3 %}" >Submit </a> <br>
                    {% endif %}
                   {% endif %} 
                  {% endif %}
                 {% endfor %}  
              {% endif %}

              {% if i not in daylist %}
              {{i}}
               <br>
                 {% for timesheet in timesheets %}
                  {% if timesheet.day == i %}
                   <font color="blue" >Task  : </font> {{timesheet.taskname}}<br>
                   <font color="blue" >Time: </font>{{timesheet.spendtime}} Hr<br>
                   
                   <b>{{timesheet.status}}</b><br>
                   
                    
                    {% if project.payment_type == "Daliy" %}
                       {% if timesheet.status == "pending" or timesheet.status == "rejected" %}
                        <a class="button button2" href="{% url 'timesheetaction' employee_id=employee_id project_id=project.id day=i month=month year=year  period=1 %}" >Submit </a> <br>
                      {% endif %}
                    {% endif %} 
                      

                    {% if project.payment_type == "Weekly"  %}
                      {% if timesheet.status == "pending" or timesheet.status == "rejected" %}
                       {% if i == 7 or i == 14  or i == 21 or i == 28 %}
                      <a class="button button2" href="{% url 'timesheetaction' employee_id=employee_id project_id=project.id day=i month=month year=year  period=2  %}" >Submit </a> <br>
                      {% endif %}
                     {% endif %} 
                   {% endif %}
                  
                {% if project.payment_type == "Monthly" and i == 1 %}
                   {% if timesheet.status == "pending" or timesheet.status == "rejected" %}
                    <a class="button button2" href="{% url 'timesheetaction' employee_id=employee_id project_id=project.id day=i month=month year=year  period=3 %}" >Submit </a> <br>
                    {% endif %}
                   {% endif %} 
                  {% endif %}
                 {% endfor %}  
              {% endif %}

           {% endif %} 
         </td>
    {% if forloop.counter == 7 or forloop.counter == 14  or forloop.counter == 21 or forloop.counter == 28 or forloop.counter == 35 %}
     </tr>
    {% endif %}
 {% endfor %}

</table>
</center>







  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
            <div class="modal-body">
         
<center>
{% if tasklist%}
<form class="form-signin" action="{% url 'timesheetform' employee_id=employee_id project_id=project.id day='26' month=month year=year %}" method="post">

{% csrf_token %}
<select class="stylesheet" name="taskname">
  {% for task in tasklist %}
   <option>{{task}}</option>
  {% endfor %}
</select><br>
Spend Time
<input type ="text" name="spendtime" />
<input type="hidden" name="day" id="day" />
<br>
<button class="button button2" type="submit" >Update </button>
{% else %}
<b> No any task to Fill Timesheet </b>
{% endif %}
<button type="button" class="button button2" data-dismiss="modal">Close</button>

</form>
</center>

        </div>
      </div>
    </div>
  