{% include 'base.html' %}
{% block content %}
<div class="table-block">


<div align="right"> 
<h1>   
<button class="button" data-toggle="modal" data-target="#myModal"> Create Employee </button>
</h1>
</div>
<center>
<table id="myTable" class="display">
<!-- <table  class="table table-striped">   -->
    <thead>
        <tr >
            <th>User ID </th>
            <th> Full Name</th>
            <th>Username </th>
            <th>EmailID</th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users  %}
        <tr >   
            <td>{{user.id}}</td>  
            <td><a class="update_btn"  url="{% url 'updateprofile' employee_id=user.id %}"><b>{{user.get_full_name}}</b> </a></td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            
            
            <td ><a id="deletebutton" data-id="{{user.id}}" data-target="#myModalDelete" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></a> </td>
        </tr>
    </tbody>
{% endfor %}
</table>
</center>
</div>

{% endblock %}


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

            <div class="modal-body" id="modal-body">
{% include 'users/createemployee.html' %}
  </div>
 </div>
</div>

<div class="modal fade" id="myModalupdate" role="dialog">
    <div class="modal-dialog">
        <div class="modal-body" id="updatemodalbody">
               
 </div>
 </div>
</div>


<div class="modal fade" id="myModalDelete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-body" id="modal-body-delete">
            <form class="form-signin" action="{% url 'deleteprofile' employee_id=0  manager_id=manager_id %}" method="get">
            <h1><b> Confirm Delete </b></h1>
            <input type="hidden" id="employee_id" name="employee_id">
            <button class="button" type="submit" >Yes </button>
            <button type="button" class="button " data-dismiss="modal">No</button>
            </form>
        </div>
    </div>
</div>



<script type="text/javascript">
$(document).ready(function(){
  
   $('.update_btn').on('click', function(event){
      event.preventDefault();

      $.ajax({
        method: "GET",
        url: $(this).attr("url"),
        data: {},
        dataType: 'html',
        success: function (data) {
        $("#updatemodalbody").html(data); 
        $('#myModalupdate').modal('show');  
          }

        })
      });

   $(document).on("click", ".deletebutton", function () {
     var myBookId = $(this).data('id');
      $("#employee_id").val( myBookId );
     });


});
</script>