{% include 'base.html' %}
{% block content %}

<div class="table-block">
<center>
    <!-- <h1> <b>  
        Projects for Your Client ID<br>
        {{clientid}}
    </b> </h1> -->
    <br><br><br>
<table id="myTable" class="display">
    <thead>
        <tr >
            <th>Projet ID </th>
            <th>Title </th>
            <th>Description</th>
            <th>Hourly Rate</th>
            <th>Payment Type</th>
            <th></th>
            <th></th> 
        </tr>
    </thead>
    <tbody>
        {% for project in projects  %}
        <tr > 
            <td>{{project.id}}</td>
            <td>{{project.title}}</td>
            <td>{{project.discription}}</td>
            <td>{{project.hourlyrate}}</td>
            <td>{{project.payment_type}}</td>
            <td><a  data-id="{{project.id}}" class="update_button" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-edit"> Update</span></a></td>
            <td><a  href="{% url 'clienttimesheet' employeeid=1 project_id=project.id client_id=client_id month=month year=year %}">  <span class="glyphicon glyphicon-calendar"> TimeSheet</span></a> </td>
        </tr>
    </tbody>
{% endfor %}
</table>
</center>
</div>
 {% endblock %}


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-body">
                <form action="{% url 'projectform' %}" class="form-signin" method="post">  <h1><b>Update Payment Type and  Hourly Rate</b></h1>
                    {% csrf_token %}
                    <b>
                        <select class="form-control" name="payment_type">
                            <option value="Daliy">Daliy</option>
                            <option value="Weekly">Weekly</option>
                            <option value="Monthly">Monthly</option>
                        </select>
                    
                    <input type="text" name="hourlyrate" placeholder="Hourly Rate"/><br>
                    <input type="hidden" name="project_id" id="project_id"  /> 
                    <button class="button " type="submit" >Update </button>
                    <button type="button" class="button " data-dismiss="modal">Close</button></b>
                </form>
            </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('#myTable').DataTable();
  
    $(document).on("click", ".update_button", function () 
    {
        console.log("hello popup")
        var myBookId = $(this).data('id');
        console.log(myBookId)
        $("#project_id").val( myBookId );
    });
});
</script>
