
{% load static %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/loginform.css' %}" />
</head>



<center>

<form class="form-signin" action="{% url 'createtask' project_id=project_id manager_id=manager_id  %}" method="post">
   <div class="logout">
<a class="buttonlink" href="{% url 'home' %}">Home </a>
</div> 
<h1> Create Task </h1><br><br>

    {% csrf_token %}
    {{ form.as_p }}
     Emp ID :<select name="employee_id"> 
    	{% for employee in employees %}
            <option>{{employee.id}}</option>
    	{% endfor %}
 
    </select>
<button class="button button2" type="submit" >Create Task </button>
</form>
</center>
