{% if form %}
<center>
<form class="form-signin" id="form-signin" form-url="{% url 'createproject' manager_id=manager_id  %}" method='POST'>
<h1><b> Create Project </b></h1>
{% if clients %}
    {% csrf_token %}
<b><select  class="form-control" name="client_id">
    <option >Select Client ID</option> 
    	{% for client in clients %}
            <option value="{{client.id}}">{{client.email}}</option>
    	{% endfor %}
  {{ form.title }}
  <font color="red" ><div id="title_error">{{form.title.errors}}</div></font>
  {{ form.discription }}
  <font color="red" ><div id="discription_error">{{form.discription.errors}}</div></font>
  {{ form.startdate }}
  <font color="red" ><div id="startdate_error">{{form.startdate.errors}}</div></font>
  {{ form.enddate }}
  <font color="red" ><div id="enddate_error">{{form.enddate.errors}}</div></font></b>
    <button class="button" type="button" id="create_btn" >Create </button>
    <button type="button" class="button " data-dismiss="modal">Close</button>
{% else %}
  <button type="button" class="button " data-dismiss="modal"> <span class="glyphicon glyphicon-remove"> </button>
<b> No any Client to Assign Project </b>
{% endif %}

</form>
</center>

{% else %}
<form class="form-signin">
<h1><b> Project Created Successfully </b></h1>
</form>
<script type="text/javascript">
  setTimeout(function(){
                          location.reload(); //wait for 5 location.reload();//then reload the page.(3)
                      }, 1500)   
</script>
{% endif %}




<script type="text/javascript">
$(document).ready(function(){
    $('#myTable').DataTable();

    var form = $('.form-signin');
    $('#create_btn').on('click', function(event){
      event.preventDefault();
      $.ajax({
        method: "POST",
        url: form.attr("form-url"),
        data: form.serialize(),
        dataType: 'html',
        success: function (data) {
             $(".modal-body").html(data);        
          }
        
        })
      });
    $(".datepicker").datepicker({
        format: 'yyyy-mm-dd',
       changeMonth: true,
      changeYear: true,
      yearRange: "1900:2025",
      // You can put more options here.
       });


});
</script>