{% if form %}
<center>

<form class="form-signin" id="form-signin" form-url="{% url 'createtask' project_id=project_id manager_id=manager_id  %}" method='POST'>
 
<h1><b> Create Task </b></h1>
{% if employees %}
    {% csrf_token %}
    <b><select  class="form-control" name="employee_id"> 
      <option>Select Employee ID</option>
      {% for employee in employees %}
            <option value="{{employee.id}}">{{employee.email}}</option>
      {% endfor %}
             </select>
  {{ form.title }}
  <font color="red" ><div id="title_error">{{form.title.errors}}</div></font>
  {{ form.discription }}
  <font color="red" ><div id="discription_error">{{form.discription.errors}}</div></font>
  {{ form.startdate }}
  <font color="red" ><div id="startdate_error">{{form.startdate.errors}}</div></font>
  {{ form.enddate }}
  <font color="red" ><div id="enddate_error">{{form.enddate.errors}}</div></font>
     
<button class="button" type="button" id="create_btn" >Create</button>
 {% else %}
<b> No any Emplopyee  to Assign Project Task </b>
{% endif %}  
    <button type="button" class="button" data-dismiss="modal">Close</button>
</form>
</center>
{% else %}
<form class="form-signin">
<h1><b> Task Created Successfully </b></h1>
</form>
<script type="text/javascript">
  setTimeout(function(){
                          location.reload(); //wait for 5 location.reload();//then reload the page.(3)
                      }, 1500)   
</script>
{% endif %}


<script type="text/javascript">
$(document).ready(function(){
    $('#myTable').DataTable();


    var form = $('.form-signin');
    $('#create_btn').on('click', function(event){
      event.preventDefault();

      $.ajax({
        method: "POST",
        url: form.attr("form-url"),
        data: form.serialize(),
        dataType: 'html',
        success: function (data) {
            $(".modal-body").html(data);    
                } 
                  
        })
      });

    $(".datepicker").datepicker({
        format: 'yyyy-mm-dd',
       changeMonth: true,
      changeYear: true,
      yearRange: "1900:2025",
      // You can put more options here.
       });

  });
  </script>