
{% load static %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/loginform.css' %}" />
</head>



  <br>
<center>

 
<form class="form-signin" action="{% url 'createproject' manager_id=manager_id  %}"method="post">
  <div class="logout">
<a class="buttonlink" href="{% url 'home' %}">Home </a>
</div>
<h1> Create Project </h1><br>
    {% csrf_token %}
    {{ form.as_p }}
<button class="button button2" type="submit" >Create Project </button>
</form>
</center>
