{% include 'base.html' %}
{% block content %}

<div class="table-block">


<center>
<h1> <b>  
  Your Tasks
</b>
</h1>
<table id="myTable" class="display">
    <thead>
        <tr >
            <th>Projet ID </th>
            <th>Title </th>
            <!-- <th>Description</th> -->
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Estimate Time</th>
            <th>spend Time</th>
            
        </tr>
    </thead>
    <tbody>
        {% for task in tasks  %}
        <tr > 
            <td>{{task.project_id}}</td>
            <td><a class="update_task" url="{% url 'updatetask' task_id=task.id %}">{{task.title}}</a></td>
            <!-- <td>{{task.discription}}</td> -->
            <td>{{task.startdate}}</td>
            <td>{{task.enddate}}</td>
            <td>
                {% if task.status == 'Pending' %}<span class="label label-warning">{{task.status}}</span>
                {% endif  %}
                {% if task.status == 'In Progress' %}<span class="label label-primary">{{task.status}}</span>
                {% endif  %}
                {% if task.status == 'Started' %}<span class="label label-info">{{task.status}}</span>
                {% endif %}
                {% if task.status == 'Completed' %}<span class="label label-success">{{task.status}}</span>
                {% endif %}
              </td>
            <td>{{task.estimatetime}}</td>
            <td>{{task.spendtime}}</td>
            
        </tr>
    </tbody>
{% endfor %}
</table>
</center>
</div>

<div class="modal fade" id="myModalupdate" role="dialog">
    <div class="modal-dialog">
        <div class="modal-body" id="updatemodalbody">
        
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
        $('#myTable').DataTable();

   $('.update_task').on('click', function(event){
      event.preventDefault();
      $.ajax({
        method: "GET",
        url: $(this).attr("url"),
        data: {},
        dataType: 'html',
        success: function (data) {
                $("#updatemodalbody").html(data); 
                $('#myModalupdate').modal('show');  
              }
        });
      });

   
});
</script>
{% endblock %}
