
<a href="{% url 'account_logout' %}">logout</a><a href="{% url 'home' %}">Home </a>
<center>
<h1>   
 <br> <br><a href="{% url 'createproject' manager_id=manager_id%}"> Create project </a>


</h1>
<table  width="80%">
<tr bgcolor="#ffff80">
<th>Project ID </th>
<th>Title </th>
<th>Description</th>
<th>Status</th>
<th>Start Date</th>
<th>End Date</th>
</tr>
{% for project in projects  %}
  
  <tr bgcolor="#ffcccc">   
  <td>{{project.id}}</td>   
   <td><a href="{% url 'task' project_id=project.id manager_id=manager_id%}" > {{project.title}} </a> </td> 
  <td>{{project.discription}}</td>
  <td>{{project.status}}</td>
  <td>{{project.startdate}}</td>
  <td>{{project.enddate}}</td>
  <td ><a href="{% url 'deleteproject' project_id=project.id manager_id=manager_id%}">Delete Project</a>
  </tr>
  
{% endfor %}
</table>
</center>

