<br>
<div class="logout">
<a class="buttonlink" href="{% url 'home' %}">Home </a>
<a class="buttonlink" href="{% url 'account_logout' %}">logout</a>
</div>

{% load static %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/loginform.css' %}" />
<script src="{% static 'js/dataTables.js' %}" ></script>
</head>

<div class="table-block">


<center>
<h1>   
<a class="button" href="{% url 'createproject' manager_id=manager_id%}"> Create project </a>
</h1>

<table  id="myTable" class="display">
	<thead>
        <tr >
            <th>Project ID </th>
            <th> Client ID </th>
			<th>Title </th>
			<th>Description</th>
			<th>Status</th>
			<th>Rate</th>
			<th>  </th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for project in projects  %}
  
  		<tr>   
			  <td>{{project.id}}</td>   
			  <td>{{project.client}}</td>
			  <td><a href="{% url 'task' project_id=project.id manager_id=manager_id%}" > {{project.title}} </a> </td> 
			  <td>{{project.discription}}</td>
			  <td>{{project.status}}</td>
			  <td>{{project.hourlyrate}}</td>
			  <td ><a href="{% url 'deleteproject' project_id=project.id manager_id=manager_id%}">Delete Project</a></td>
			  <td ><a href="{% url 'managertimesheet' employeeid=1 project_id=project.id manager_id=manager_id month=month year=year %}" >Time Sheet</a></td>
  		</tr>
    </tbody>
{% endfor %}
</table>
</center>
</div>


<script type="text/javascript">
$(document).ready(function(){
    $('#myTable').DataTable();
});
</script>