{% include 'base.html' %}
{% block content %}

<div class="table-block">


<center>
<div align="right"> 
<h1>   
<button class="button" data-toggle="modal" data-target="#myModal"> Create Task </button>
</h1>
</div>

<table  id="myTable" class="display">
    <thead>
        <tr >
            <th>Projet Name </th>
            <th>Task Title </th>
            <th>Status</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Employee ID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks  %}
        <tr> 
            <td>{{task.project.title}}</td>
            <td>{{task.title}}</td>
            <td>
                {% if task.status == 'Pending' %}<span class="label label-warning">{{task.status}}</span>
                {% endif  %}
                {% if task.status == 'In Progress' %}<span class="label label-primary">{{task.status}}</span>
                {% endif  %}
                {% if task.status == 'Started' %}<span class="label label-info">{{task.status}}</span>
                {% endif %}
                {% if task.status == 'Completed' %}<span class="label label-success">{{task.status}}</span>
                {% endif %}
              </td>
            <td>{{task.startdate}}</td>
            <td>{{task.enddate}}</td>
            <td><span class="label label-default">{{task.employee.email}}</span></td>
            <td > {% if task.status == 'Pending' %} <a id="deletebutton" data-id="{{task.id}}" data-target="#myModalDelete" data-toggle="modal" > <span class="glyphicon glyphicon-trash"></span> </a>
                {% else %}<a><b><span class="glyphicon glyphicon-lock"></span></b></a>
            {%endif%} </td>
         </tr>
    </tbody>
{% endfor %}
</table>
</center>
</div>



{% endblock %}

<script type="text/javascript">
$(document).on("click", "#deletebutton", function () {
    var myBookId = $(this).data('id');
      $("#task_id").val( myBookId );
    });
</script>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
            <div class="modal-body">
{% include 'project/createtask.html' %}


        </div>
      </div>
    </div>


<div class="modal fade" id="myModalDelete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-body" id="modal-body-delete">
            <form class="form-signin" action="{% url 'deletetask' project_id=project_id manager_id=manager_id  task_id=0 %}" method="get">
            <h1><b> Confirm Delete </b></h1>
            <input type="hidden" id="task_id" name="task_id">
            <button class="button" type="submit" >Yes </button>
            <button type="button" class="button " data-dismiss="modal">No</button>
            </form>
        </div>
    </div>
</div>


