<br>
<div class="logout">
<a class="buttonlink" href="{% url 'home' %}">Home </a>
<a class="buttonlink" href="{% url 'account_logout' %}">logout</a>
</div>

{% load static %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/loginform.css' %}" />
<script src="{% static 'js/dataTables.js' %}" ></script>
</head>

<div class="table-block">


<center>
<h1>   
 <a class="button" href="{% url 'createtask' project_id=project_id manager_id=manager_id %}"> Create Task</a>
 </h1>

<table  id="myTable" class="display">
	<thead>
		<tr >
			<th>Projet ID </th>
			<th>Title </th>
			<th>Description</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Employee ID</th>
		</tr>
	</thead>
	<tbody>
        {% for task in tasks  %}
  		<tr> 
			<td>{{project_id}}</td>
			<td>{{task.title}}</td>
			<td>{{task.discription}}</td>
			<td>{{task.startdate}}</td>
			<td>{{task.enddate}}</td>
			<td>{{task.employee_id}}</td>
 		 </tr>
  	</tbody>
{% endfor %}
</table>
</center>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('#myTable').DataTable();
});
</script>