{% if data %}
<form class="form-signin" id="form-signin-task-update" form-url="{% url 'updatetask' task_id=task_id %}" method="POST">
	<h1> <b>Update Task </h1>
	{% csrf_token %}
	 	<select class="form-control" name="status">
	 		<option>In Progress</option>
	 		<option>Completed</option>
	 		<option>Testing</option>
	 		<option>Tested</option>
	 		<option>Delivered</option>
	 	</select>
	 	<input type="text" name="estimatetime" {% if data.estimatetime %} value= "{{ data.estimatetime }}" {% endif %} placeholder="Estimate Time">
	 	<input type="text" name="spendtime" {% if data.spendtime %} value= {{ data.spendtime }} {% endif %} placeholder="Spend Time">
		<button class="button" type="button" id="update_task_btn" >Update Task</button>
		<button type="button" class="button " data-dismiss="modal">Close</button> </b>
</form>	 
{% else %}
<form class="form-signin">
	<h1><b> Task Updated Successfully </b></h1>
</form>

<script type="text/javascript">
	setTimeout(function(){
            location.reload(); //wait for 5 location.reload();//then reload the page.(3)
        }, 1500)   
</script>
{% endif %}

<script type="text/javascript">
$(document).ready(function(){
    $('#myTable').DataTable();

	var form = $('#form-signin-task-update');
    
    $('#update_task_btn').on('click', function(event){
    	event.preventDefault();
		$.ajax({
        	method: "POST",
        	url: form.attr("form-url"),
        	data: form.serialize(),
        	dataType: 'html',
        	
        	success: function (data) {
            	console.log(data)
        		$("#updatemodalbody").html(data); 
        		$('#myModalupdate').modal('show');   
          	}
        });
    });
});
</script>