<br>
<div class="logout">
<a class="buttonlink" href="{% url 'home' %}">Home </a>
<a class="buttonlink" href="{% url 'account_logout' %}">logout</a>
</div>


{% load static %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/loginform.css' %}" />
</head>


<center>
   
	

<form class="form-signin" action="{% url 'updatetask' task_id=task_id %}" method="post">
	
	<h1> Update Task </h1>
	<h2>Task ID: {{task_id}}</h2>
   
	{% csrf_token %}
	 <select name="status">
	 	<option>In Progress</option>
	 	<option>Completed</option>
	 	<option>Testing</option>
	 	<option>Tested</option>
	 	<option>Delivered</option>
	 </select><br><br>
	 Estimated Time<input type="text" name="estimatetime"><br>
	 Spend Time<input type="text" name="spendtime"><br>
	<button class="button button2" type="submit" >Update Task </button>
</form>	 
</center>
